/*Reset
*
*{
applied styles in here will override default styles of components.
}
*/

h1 {
    color: green;
}

a:hover {

}

a:active {

}

a:visited {

}

/*.add-image-to-li {*/
/*    list-style-image: url('path');*/
/*}*/

.dealing-input input[type="text"], .something textarea {

}

/*don't forget to  clear float*/
.clr {
    clear: both;
}

.positions {
    position: absolute; /*relative to the html page, unless its container is position:relative*/
    bottom: 40px; /*from bottom/right/left/top*/
}

.images {
    background-image: url('http://google.com');
    background-repeat: no-repeat;
    background-position: center center;
}

.my-list li:nth-child(5) {
    /*fifth li styles, even odd parameters*/
}


body {
    background-color: lemonchiffon;
    line-height: 1.6em;
}

.box-sizing {
    float: left;
    width: 33.3%;
    border: 1px solid;
    padding: 10px;
    box-sizing: border-box; /*padding according to box size/*
}

.container {
    width: 80% /*Use % to make it decrease and increase due to window size*/
}


@media(max-width: 600px) {
    #id {
        width: 100%;
        float: none;
    }
}